<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css">
    {{#if isAutheticate}}{{else}}<link rel="stylesheet" href="/assets/css/style.css">{{/if}}
    <title>{{tittle}}</title>
</head>
<body>
    {{#if isAutheticate}}
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container">
            <a class="navbar-brand" href="/Home">Navbar</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Amigos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Eventos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Centro de Notificacion</a>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
            <form action="/logOut" method="post">
              <button type="submit" class="btn btn-danger mx-5"> Cerrar session</button>
            </form>
          </div>
        </nav>
    {{/if}} 
    {{{body}}}
    <script src="/assets/js/main.js"></script>
</body>
</html>