<main>
    <div class="contain" id="container">
        <div class="form-container sign-in-container">
            <form action="/recorver-password" method="post">
                <h1>Sign in</h1>
                <input type="text" placeholder="Nombre de usuario" name="username" class="my-5" required/>
				<input type="password" placeholder="Nueva contraseña" name="pass" class="my-5" required/>
                <button type="submit">Recover password</button>
            </form>
	    </div>
	    <div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>Hello, Forgot your password!?</h1>
					<p>Enter your user name and we will help you recover it</p>
				</div>
			</div>
		</div>
	</div>
   
</main>